.menu {
    width: 80%;
    margin-top: 5%;
}

.left-menu {
    width: 35%; 
    height: auto; 
    margin-left: 40%;
    float: left;
}

.right-menu {
    width: 40%; 
    margin-left: 60%; 
    height: auto;

}

.menu-pizza {
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alergener {
    font-size: 0.9em;
}

body {
    background-color: #E0CBA8;
}